:root{
    --mainColor:#4807E6;
    --textColorDark:#121212;
    --textColorLight:#ffffff;
    --transitionEffect:all .3s ease-in-out;
}
@font-face {
    font-family: playfair;
    src: url(../fonts/playfair/PlayfairDisplayBlack-RpvVA.ttf);
}
@font-face {
    font-family: PoppinsBold;
    src: url(../fonts/popins/Poppins-Bold.ttf);
}
@font-face {
    font-family: PoppinsMedium;
    src: url(../fonts/popins/Poppins-Medium.ttf);
}
@font-face {
    font-family: PoppinsSemiBold;
    src: url(../fonts/popins/Poppins-SemiBold.ttf);
}
htmL{
    overflow-x: hidden;
}
body{
    /* direction: rtl; */
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color:#F4F7FA;
    font-family:PoppinsMedium;
    overflow-y: hidden;
    position: relative;
    /* min-height:10000px ; */
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none!important;
}
.btn:focus{
    box-shadow: none
}
.form-control:focus{
    box-shadow:none!important
}
.hide-scrollbar{
    overflow: hidden;
}
button:focus{
    outline:0px
}
/* .test__info::-webkit-scrollbar  ,.test__question::-webkit-scrollbar ,.test__pagination-list::-webkit-scrollbar{ */
::-webkit-scrollbar{
    width: 14px;
}

/* .test__info::-webkit-scrollbar-track , .test__question::-webkit-scrollbar-track ,.test__pagination-list::-webkit-scrollbar-track{ */
::-webkit-scrollbar-track{
    background: #dde1e5; 
    overflow:hidden

}
/* .test__info::-webkit-scrollbar-thumb ,.test__question::-webkit-scrollbar-thumb ,.test__pagination-list::-webkit-scrollbar-thumb{ */
::-webkit-scrollbar-thumb{
    /* background: var(--mainColor);  */
    background: transparent linear-gradient(91deg,#4807E6 0%, #A152FC 100%) 0% 0%;
}
/* .test__info::-webkit-scrollbar-thumb:hover ,.test__question::-webkit-scrollbar-thumb:hover ,.test__pagination-list::-webkit-scrollbar-thumb:hover{ */
::-webkit-scrollbar-thumb:hover{
    /* background: #4607e6d4; */
    background: var(--mainColor); 
}

/* @media (min-width: 1200px){
    .custom-container{
        max-width: 1300px;
    
    }
} */
/***************navbar*************************/
/* .navbar-brand{
    margin-left: 50px;
} */
.navbar-brand svg{
    width: 200px;
}
.container-fluid{
    padding:0 50px;
}
.navbar{
    background-color:var(--textColorLight);
    box-shadow: 0 2px 6px #00000012;
    padding: 5px;
}
.nav-item{
    --marginEnd: 80px;
    letter-spacing: 0px;
    margin-right: var(--marginEnd);
    margin-inline-end: var(--marginEnd);
    font-weight: bold;
    padding: 0px;
    font-family: 'PoppinsBold';
    height: inherit!important;
    display: flex;
    align-items: center;
}
.nav-item:last-of-type{
    --marginEnd:0;
}
.nav-item a{
    color: var(--textColorDark)!important;
    transition: var(--transitionEffect);
    position: relative;
}
.nav-item.active a{
    color: var(--mainColor)!important;
}
.navbar__menu-items:hover a{
    color: var(--mainColor)!important;
}
.navbar__menu-items a::before{
    --width:0%;
    content: '';
    position: absolute;
    bottom: 0;
    width:var(--width);
    right: calc(50% - var(--width)/2);
    height: 4px;
    background-color: var(--mainColor);
    transition: var(--transitionEffect);
}
html[dir=rtl] .navbar__menu-items a::before{
    left: calc(50% - var(--width)/2);
}
.navbar__menu-items.active a::before{
    --width:70%;
}
.navbar__menu-items:hover a::before{
    --width:70%;
}
.navbar__search-icon{
    width:20px
}
.navbar__register-item{
    width:180px;
    max-width: 16%;
    height:60px;
    background-color: var(--mainColor);
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius:4px;
    transition: var(--transitionEffect);
    font-family:'PoppinsSemiBold'
}
.navbar__register-item a{
    color: var(--textColorLight) !important;
}
.navbar__register-item:hover a{
    color: var(--textColorLight) !important;
}
.navbar__register-item:hover {
    opacity: .9;
}
.navbar-nav{
    position: relative;
}
.navbar__search-form{
    position: absolute;
    top: 0;
    width: 58%;
    height: 50px;
    border-radius: 6px;
    opacity: 0; 
    transform:translateX(100%) scale(0);
    transition:var(--transitionEffect);
}
.navbar__search-form input{
    height:100%;
    color:var(--mainColor);
    border-color: var(--mainColor);

}
.navbar__search-form input:focus{
    box-shadow:none;
    border-color: var(--mainColor);
    color:var(--mainColor);
    
}
.navbar__search-form.active{
    transform:translateX(0) scale(1);
    opacity: 1
}
.navbar__profile-img{
    width:30px
}
.navbar .dropdown-menu{
    left: calc(50% - 90px);
    display: block;
    transform: translateY(20px);
    transition: var(--transitionEffect);
    opacity: 0 !important;;
}
html[dir=rtl] .navbar .dropdown-menu{
    right: calc(50% - 90px);
}
.navbar .dropdown-menu.show{
    transform:translateY(0);
    opacity: 1 !important;;
}
.navbar-toggler span{
    color:var(--mainColor);
}
.navbar-toggler:focus{
    outline:0
}

/***************breadcrumb*************************/
.breadcrumb-nav{
    background: transparent linear-gradient(91deg,#4807E6 0%, #A152FC 100%) 0% 0%;
    background-color:var(--mainColor);
    /* min-height: 65px; */
    display: flex;
    align-items: center;
    margin:10px 0;
}
.breadcrumb{
    background-color:transparent;
    margin:0;
}
.breadcrumb a{
    color: var(--textColorLight) !important;
    font-family: 'PoppinsSemiBold';
}
.breadcrumb-item+.breadcrumb-item::before{
    content:url('../imgs/rightAngle.svg');
    padding-right:20px;
}
.breadcrumb-item+.breadcrumb-item{
    display:flex;
    align-items: center;
    justify-content:center;
}
.breadcrumb-item{
    margin-right: 20px;
}
.breadcrumb-item.active{
    color:var(--textColorLight);
    font-family:'PoppinsSemiBold'; 
}
/***************show categories**********************/
.show-categories{
    min-height: calc(100vh - 174px);
    /* background-color: ; */
}
.show-categories__heading{
    color:var(--textColorDark);
    font-family:'PoppinsBold';
    font-size: 30px;
    margin: 50px 0;
    text-align: center;
}
.show-categories__cats{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.show-categories__cat{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-width: 350px;
    min-height:220px;
    background-color:var(--textColorLight);
    border-radius: 12px;
    box-shadow: 0 3px 30px #186AA51A ; 
    transition: var(--transitionEffect);
    margin-bottom: 30px;
    padding: 20px 5px;
}
.show-categories__cat:hover{
    background-color: var(--mainColor);
    color:#fff;
}
.show-categories__exam-types{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.show-categories__exam-type{
    padding: 9px 20px;
    background-color: rgba(71, 86, 119, 1);
    border-radius: 4px;
    color: var(--textColorLight);
    margin-right: 10px;
    margin-bottom: 10px;
    transition: var(--transitionEffect);
}
.show-categories__cat:hover .show-categories__exam-type{
    background-color: var(--textColorLight);
    color:var(--textColorDark)!important;
    color:#fff;
}
.show-categories__cat-title{
    font-family: 'PoppinsBold';
    font-size: 25px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.show-categories__cat-link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height:100%;
    width:100%;
}
.show-categories__img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.show-categories__filter{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    margin-bottom: 100px;
}
.show-categories__filter-span{
    font-family: 'PoppinsSemiBold';
    color: #12121280;
    margin-right: 50px;
}
.show-categories__filter-span svg{
    margin-left: 20px;
}

.show-categories__filter-button{
    margin-right: 24px;
    font-family: 'PoppinsSemiBold';
    padding: 10px 35px;
    transition: var(--transitionEffect);
}
.show-categories__filter-button.active{
    color: var(--mainColor);
    background-color: rgba(72, 7, 230, 0.05);
    border-radius: 8px;
}
/*******************test-categories****************************/
.show-categories__test-name{
    border: 2px solid var(--mainColor);
    color:var(--mainColor);
    max-width:250px;
    height:50px;
    border-radius: 4px;
    display:flex;
    align-items:center;
    justify-content: center;
    font-family: 'PoppinsBold';
    margin: 90px auto 30px;
}
.show-categories__cat--no-padding{
    padding:0;
}
.is-flipped{
    transform: rotateY(20deg);
}
.card-inner{
    transform-style: preserve-3d;
    transition: var(--transitionEffect);
}
.show-categories__cat--no-padding{
    perspective: 600px;

}
.show-categories__cat--no-padding .card-inner:hover{
    transform:rotateY(180deg);
}
.show-categories__cat-desc{
    padding: 10px 20px;
}
.show-categories__img-top{
    width: 100%;
    height: 240px;
}
.show-categories__top-img{
    width:100%;
    height:100%;
}
.show-categories__cat-desc-title{
    font-family: 'PoppinsBold';
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.show-categories__cat-hover{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    padding: 10px;
    color: white;
    background-color:var(--mainColor);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
.show-categories__cat-hover-desc{
    margin-top: 60px;
    margin-bottom: 50px;
}
.show-categories__cat-hover-links{
    display: flex;
    flex-direction: column;
}
.show-categories__cat-hover-link-icon{
    width:20px;
    margin-right: 50px;
}
.show-categories__cat-hover-desc-title{
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}
.show-categories__cat-hover-para{
    width: 90%;
    margin: auto;
    text-align: center;
}
.show-categories__cat-hover-start-link{
    background-color: white;
    padding: 10px 20px;
    border-radius: 4px;
    color: var(--textColorDark)!important;
    text-decoration: none;
    font-family: 'PoppinsSemiBold';
    margin-bottom: 30px;
    transition:var(--transitionEffect);
}
.show-categories__cat-hover-start-link:hover{
    color:var(--mainColor)!important;
}

/********************test************************/
.test__controls{
    display: flex;
    align-items: center;
    padding: 0 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.test__control-button{
    margin-right: 15px;
}
.test__control-button-icon{
    width:25px
}
.test__control-end-task{
    background-color: var(--mainColor);
    color: var(--textColorLight);
    font-size: 13px;
    width: 160px;
    height: 40px;
    transition:var(--transitionEffect);
    font-family: 'PoppinsSemiBold';
}
.test__control-end-task:hover{
    color:var(--textColorLight);
    opacity: .8;
}
.test__timer-cont{
    display: flex;
    align-items: center;
}
.test__timer-cont svg{
    margin-right: 10px;
}
.test__timer-cont span{
    font-family: 'PoppinsBold';
    color: var(--mainColor);
}

.test__content{
    display: flex;
    max-height: 65vh;
    min-height: 40vh;
}
.test__content.type-one .test__info{
    display: none;
}
.test__question.type-input .test__choices{
    display: none;
}
.test__question.type-input .test__input-answer{
    display: flex!important;
}
.test__input-answer{
    display:none;
}
.test__info ,.test__question{
    background-color:var(--textColorLight);
    padding:40px;
    border-radius: 12px;
    overflow-y: auto;
    flex:1
}
.test__info{
    margin-right: 10px;
    margin-inline-end:10px;
}

.test__info-heading ,.test__question-heading{
    font-size: 20px;
    font-family: 'PoppinsSemiBold';
    color:var(--textColorDark);
    margin-bottom: 40px;
}
.test__info p ,.test__question label{
    color:var(--textColorDark);
    font-family: 'PoppinsMedium';
    line-height: 30px;
}
.test__question label{
    color:var(--textColorDark);
    font-family: 'PoppinsMedium';
    margin:0;
    cursor: pointer;
}
.test__choice{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}
.test__choice-radio{
    width: 30px;
    height: 30px;
    margin-right: 15px;
    accent-color: var(--mainColor);
    cursor: pointer;
}
.test__choice-radio:hover{
    accent-color: var(--mainColor);
}

.test__pagination{
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top: 60px;
    margin-bottom:30px;
    padding: 0 40px;
}
.test__pagintaion-control-button{
    width:40px;
    height:40px;
    border:2px solid var(--mainColor);
    color: var(--mainColor);
    transition: var(--transitionEffect);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content:center;
    cursor: pointer;
}
.test__prev-button{
    margin-right: 8px;
}
.test__next-button{
    margin-left: 8px;
}
.test__pagination-list{
    display: flex;
    background-color: var(--textColorLight);
    padding: 15px 20px;
    width: 100%;
    border-radius: 8px;
    overflow-x: auto;
}
/* .test__pagination-list::-webkit-scrollbar{
    width: 5px!important;
} */
.test__pagination-link{
    color: var(--mainColor)!important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--mainColor);
    border-radius: 4px;
    transition: var(--transitionEffect);
    width: 32px;
    height: 32px;
    margin-right: 13px;
    cursor: pointer;
    font-family: 'PoppinsSemiBold';
}
.test__pagination-link.active{
    background-color:var(--mainColor)!important;
    color:var(--textColorLight)!important
}
.test__pagination-link:hover{
    background-color:var(--mainColor)!important;
    color:var(--textColorLight)!important
}

.flagged-question{
    position: relative;
}
.flagged-question::before{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    background: red
}
#test-navigation .modal-title{
    color: var(--textColorDark);
    font-size:26px;
    font-family: 'PoppinsSemiBold';
    margin: auto;
}
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover{
    outline:0
}
.modal__exit-icon{
    width: 30px;
    height: 30px;
}
.modal-header .close{
    margin: 0;
}
.modal__exit-icon path{
    fill:#A2AABA
}
.modal-content{
    height:95vh;
    overflow: auto;
}
.modal-open .modal{
    overflow: hidden;

}
.modal-header{
    border-bottom: 0px;
}
.modal-footer{
    border-top: 0px
}
.modal-open {
    overflow: hidden;
}
.test-navigation__filters{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.test-navigation__filter-button{
    background-color: #F4F7FA;
    border-radius: 8px;
    font-family: 'PoppinsBold';
    color: var(--textColorDark);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 56px;
    min-width: 120px;
    margin: auto;
}
.test-navigation__filter{
    margin: 10px 5px
}
.test-navigation__filter-button.active{
    color:var(--textColorLight);
    background-color:var(--mainColor)
}


.test-navigation__table{
    color: var(--textColorDark);
    font-family: 'PoppinsSemiBold';
    text-align: center;
    margin-top: 30px;
}
.test-navigation__table thead{
    background: #F4F7FA;
    border-radius: 8px;
    border: 0;
}
.test-navigation__table tbody tr{
    position: relative;
    height: 60px;
}
.test-navigation__table-cell{
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: center;
}
.test-navigation__table tbody tr td{
    vertical-align: middle;
    text-transform: capitalize;
}
.table thead th{
    border: 0;
}
.test-navigation__table tbody tr:first-of-type th ,.test-navigation__table tbody tr:first-of-type td{
    border: 0
}
.test-navigation__table-flag{
    border: 2px solid var(--mainColor);
    width:30px;
    height:30px;
    accent-color: var(--mainColor);
}

.test__input-answer input{
    border-color: #4807E6;
    height: 50px;
    color:var(--main-color);
}
.test__input-answer input:focus{
    border-color: #4807E6;
    color:var(--main-color);
}
.test__choice-alpha{
    text-transform: uppercase;
}
.test-navigation__link{
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    right:0;
    left:0;
    bottom:0;
    cursor: pointer;
}
input[type="checkbox"]:checked ~ label:before { content: '' }
@media (max-width:1200px){
    .container-fluid{
        padding: 0 20px 
    }
}
@media (max-width:1100px){
    .nav-item{
        --marginEndt: 30px;
    }

}
@media (max-width:992px){
    .navbar__register-item{
        max-width: 100%;
        width:100%
    }
    .navbar__search-form.active{
        top: 65%;
        width: 90%;
        right: 0;
    }
    .nav-item{
        margin-bottom: 20px;
    }
    .show-categories__cat{
        width: 230px
    }
    .test-navigation__filters{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:768px){
    .show-categories__cat{
        width: 100%;
        
    }
    .show-categories__heading{
        margin: 30px 0;
    }
}
@media (max-width:426px){
    .test-navigation__filters{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .modal-body{
        padding: 0;
    }
}
@media (max-width:321px){
    .navbar-brand{
        width: 70%;
    }
    .navbar-brand svg{
        width:100%
    }
    .breadcrumb-item{
        margin-right: 10px;
    }
    .breadcrumb-item+.breadcrumb-item::before{
        padding-right: 10px;
    }

}